.container {
  margin: 4rem 0 0 0;
  background-color: #1e292b;
  padding: 2rem;
}

.container h1 {
  width: max-content;
  margin: 0 auto;
  font-family: "League Spartan";
  font-size: 2rem;
  color: #ff7777;
}

.carousel {
  overflow: hidden;
  cursor: grab;
  overflow: hidden;
}

.innerCarousel {
  display: flex;
  gap: 1.5rem;
  margin: 2rem 0 0 0;
}

.category {
  background-size: cover;
  background-position: 40%;
  min-width: 30%;
  height: 300px;
  position: relative;
  cursor: pointer;
}

.categoryInfo {
  position: absolute;
  bottom: 5%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.categoryInfo p {
  color: #ff7777;
  font-size: 1.2rem;
  font-family: "League Spartan";
}

.categoryInfo button {
  background: none;
  border: 2px solid #ff7777;
  padding: 0.5rem;
  width: 25%;
  font-family: "League Spartan";
  font-size: 1rem;
  color: #fff;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}

.categoryInfo button:hover {
  background: #ff7777;
}

.categoryOverlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  height: 70%;
  opacity: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.65) 50%
  );
  z-index: 1;
  transition: opacity 0.3s ease-in-out;
}

.category:hover > .categoryOverlay {
  opacity: 1;
}

@media screen and (max-width: 870px) {
  .categoryInfo {
    justify-content: flex-start;
    gap: 0.5rem;
    padding: 0 0 0 0.5rem;
  }

  .categoryInfo p {
    font-size: 1rem;
  }

  .categoryInfo button {
    padding: 0.2rem;
    width: 30%;
    font-weight: 100;
  }
}

@media screen and (max-width: 760px) {
  .category {
    min-width: 37%;
    height: 250px;
  }

  .categoryInfo p {
    font-size: 1rem;
  }

  .categoryInfo button {
    width: 22%;
  }
}

@media screen and (max-width: 670px) {
  .category {
    min-width: 40%;
  }

  .categoryInfo p {
    font-size: 0.9rem;
  }

  .categoryInfo button {
    font-size: 0.9rem;
    width: 22%;
  }
}
@media screen and (max-width: 570px) {
  .category {
    min-width: 48%;
  }
}
@media screen and (max-width: 470px) {
  .category {
    min-width: 60%;
    height: 225px;
  }
}

@media screen and (max-width: 320px) {
  .innerCarousel {
    gap: 0.8rem;
  }
  .category {
    min-width: 90%;
  }
}
