.container {
  width: 100%;
  height: 100vh;
  position: relative;
}
.arrowNavContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.2rem;
  font-size: 2rem;
}

.activeArrow {
  z-index: 50;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.activeArrow:hover {
  opacity: 1;
}

.disableArrow {
  z-index: 50;
  opacity: 0.5;
  cursor: no-drop;
}

.bannersContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow-x: hidden;
}

.bannerInfoContainer {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  font-family: "League Spartan";
  color: #f2f2f2;
  width: 100%;
  justify-content: center;
}

.bannerInfoContainer p {
  font-size: 1.8rem;
}

.bannerInfoContainer h1 {
  font-size: 4.2rem;
}

.bannerInfoContainer button {
  border: none;
  width: 15%;
  font-size: 1.2rem;
  padding: 0.8rem;
  border-radius: 25px;
  cursor: pointer;
  z-index: 2;
}

@media screen and (max-width: 769px) {
  .bannerInfoContainer {
    background-position: 40%;
  }
  .bannerInfoContainer button {
    width: 20%;
  }
}
@media screen and (max-width: 570px) {
  .bannerInfoContainer p {
    font-size: 1.5rem;
  }

  .bannerInfoContainer h1 {
    font-size: 3.2rem;
  }

  .bannerInfoContainer button {
    width: 25%;
    font-size: 1rem;
  }
}

@media screen and (max-width: 460px) {
  .bannerInfoContainer p {
    font-size: 1.2rem;
  }

  .bannerInfoContainer h1 {
    font-size: 2.8rem;
  }

  .bannerInfoContainer button {
    width: 30%;
    font-size: 1rem;
  }
}
@media screen and (max-width: 400px) {
  .bannerInfoContainer p {
    font-size: 1.1rem;
  }

  .bannerInfoContainer h1 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 320px) {
  .bannerInfoContainer h1 {
    font-size: 2.1rem;
  }

  .bannerInfoContainer button {
    font-size: 1rem;
    width: 35%;
  }
}
