.overlay {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 105;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}
.xmarkBtn {
  position: absolute;
  left: 50%;
  top: 8%;
  transform: translateX(-50%);
  color: #ff7777;
  font-size: 1.8rem;
  cursor: pointer;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.checkoutContainer {
  width: 60%;
  height: 70%;
  border-radius: 25px;
  display: flex;
  overflow: auto;
}
.orderSummaryContainer,
.paymentMethodContainer {
  width: 50%;
  height: 100%;
}
.orderSummaryContainer {
  background: #343634;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.paymentMethodContainer {
  background-color: #1e292b;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

@media screen and (max-width: 1075px) {
  .checkoutContainer {
    height: 85%;
    width: 65%;
  }
  .xmarkBtn {
    top: 1%;
  }
}
@media screen and (max-width: 870px) {
  .checkoutContainer {
    width: 80%;
  }
}
@media screen and (max-width: 769px) {
  .checkoutContainer {
    width: 95%;
  }
}
@media screen and (max-width: 570px) {
  .checkoutContainer {
    width: 65%;
    flex-direction: column-reverse;
    align-items: center;
    border-radius: 0;
  }
  .orderSummaryContainer,
  .paymentMethodContainer {
    width: 100%;
    min-height: 100%;
    border-radius: 0;
  }
}
@media screen and (max-width: 470px) {
  .checkoutContainer {
    width: 85%;
  }
}
@media screen and (max-width: 370px) {
  .checkoutContainer {
    width: 95%;
  }
}
