.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: #1e292b;
  width: 55%;
  height: 65%;
  border-radius: 15px;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}

.imgContainer {
  width: 40%;
  height: 100%;
  position: relative;
}

.message {
  width: 50%;
  font-family: "League Spartan";
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.message h2 {
  font-size: 2.4rem;
  color: #ff7777;
}
.message p {
  font-size: 1.2rem;
  width: 80%;
}
.message button {
  width: 35%;
  border: none;
  cursor: pointer;
  background-color: #ff7777;
  color: #fff;
  padding: 0.7rem;
  font-size: 1rem;
  border-radius: 25px;
}

@media screen and (max-width: 879px) {
  .content {
    width: 75%;
  }
  .message h2 {
    font-size: 2rem;
  }
  .message p {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 769px) {
  .content {
    width: 85%;
  }
  .message h2 {
    font-size: 1.8rem;
  }
  .message p {
    font-size: 1rem;
  }
  .message button {
    width: 45%;
  }
}
@media screen and (max-width: 524px) {
  .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .imgContainer {
    width: 60%;
    height: 50%;
  }
  .message {
    width: 90%;
    align-items: center;
    gap: 1.5rem;
  }
  .message p {
    text-align: center;
  }
  .message button {
    padding: 0.4rem;
  }
}
@media screen and (max-width: 320px) {
  .message h2 {
    font-size: 1.5rem;
  }
  .message p {
    font-size: 0.9rem;
  }
}
