.content {
  width: 80%;
  height: 82%;
  margin: 0 auto;
}

.contentContainer {
  width: 100%;
  height: 85%;
  border-radius: 15px;
  margin: 2rem auto 0 auto;
  background-color: #1e292b;
}

@media screen and (max-width: 1075px) {
  .contentContainer {
    height: 82%;
    margin: 1rem auto 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .content {
    width: 90%;
  }
  .contentContainer {
    height: 85%;
  }
}
