.container {
  width: 100%;
  height: 90%;
  position: relative;
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  font-family: "League Spartan";
}
.header {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  padding: 0 0 0 1rem;
  color: #ccc;
  background-color: #1e292b;
}
.tableContainer {
  max-width: 100%;
  height: 90%;
  box-shadow: 0 3px 15px 0px #666666b3;
  overflow-x: auto;
}
.orderTable {
  border-collapse: collapse;
  width: 100%;
}

.orderTable th {
  text-align: left;
  color: #ff7777;
  padding: 1rem;
  border: none;
  word-wrap: break-word;
  border-bottom: 1px solid #666666;
  font-size: 1.1rem;
}
.orderTable th:first-child,
.orderTable td:first-child {
  position: sticky;
  background: #343634;
  left: 0;
  z-index: 2;
}
.orderTable td {
  padding: 1rem;
  color: #ccc;
  font-size: 1rem;
  border: none;
  word-wrap: break-word;
  border-bottom: 1px solid #666666;
  white-space: nowrap;
}

.trackBtnContainer button {
  background: #ff7777;
  color: #fff;
  padding: 0.3rem 1rem;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
}
