.container {
  height: 100vh;
  width: 18%;
  background-color: #1e292b;
  position: relative;
  border-right: 2px solid #1e292b;
  z-index: 5;
}
.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  display: none;
}

.headerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.7rem 0 0 1rem;
}
.headerContainer h3 {
  color: #ff7777;
  font-family: "League Spartan";
  font-size: 1.4rem;
}
.logoContainer {
  width: 20%;
  height: 50px;
  position: relative;
}

.menuContainer {
  color: #ccc;
  font-size: 1.1rem;
  margin: 2rem 0 0 0;
}
.menuContainer li {
  padding: 1rem;
  display: flex;
  align-items: center;
  font-family: "League Spartan";
  cursor: pointer;
}
.menuContainer li:hover {
  color: #ff7777;
}
.menuContainer i {
  color: #4f6c6b;
  width: 15%;
}

.logoutContainer {
  position: absolute;
  bottom: 5%;
  width: 100%;
  text-align: center;
  color: #ccc;
  font-family: "League Spartan";
  font-size: 1.4rem;
}
.logoutContainer p {
  cursor: pointer;
}
.logoutContainer p:hover {
  text-decoration: underline;
  color: #ff7777;
}

@media screen and (max-width: 1075px) {
  .container {
    width: 23%;
  }
}
@media screen and (max-width: 853px) {
  .container {
    width: 30%;
  }
}
@media screen and (max-width: 769px) {
  .container {
    width: 40%;
    position: absolute;
  }
  .headerContainer {
    gap: 0.2rem;
  }
  .logoContainer {
    width: 20%;
    height: 32px;
  }
}
@media screen and (max-width: 468px) {
  .container {
    width: 50%;
  }
}
@media screen and (max-width: 368px) {
  .container {
    width: 63%;
  }
}
